PORT=4000
JWT_SECRET=change_this_super_secret_key
DB_HOST=localhost
DB_PORT=5432
DB_NAME=ccpt
DB_USER=postgres
DB_PASSWORD=postgres
STORAGE_MODE=local
UPLOAD_DIR=uploads
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
